<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <nav>
        <div>
          <a href="/" class="title">
            Alexander Schaaf
          </a>
          <!-- <a href="/">
            About
          </a> -->
        </div>

      </nav>
    </header>
    <main>
      <div>
        {{ content | safe }}
      </div>
    </main>
    <footer style="height: 4em;"></footer>
  </div>
</body>

</html>