---
layout: layouts/base.njk
---
<div class="about">
  <h1>About me</h1>
  
  {% markdown %}
    {%- include "about.md" -%}
  {% endmarkdown %}
</div>

<div class="posts">
  <h1>Articles</h1>
  {%- for post in collections.post | reverse -%}
  <div class="listing">
    <div class="title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </div>
    <div class="date">
      {{ post.date | readableDate }}</div>
  </div>
  {%- endfor -%}  
</div>

<div class="projects">
  <h1>Projects</h1>

  {% markdown %}
    {%- include "projects.md" -%}
  {% endmarkdown %}

</div>