---
layout: layouts/base.njk
---
<div class="post">
  <div>
    <h1 class="title">
      {{ title }}
    </h1>
    <span class="date">{{ date | readableDate }}</span>
  </div>
  <div>
    {{ content | safe }}
  </div>
</div>