---
layout: layouts/base.njk
---
<div class="post">
  <div>
    <h1 class="title">
      {{ title }}
    </h1>
    <div class="date">{{ date | readableDate }}</div>
  </div>
  <div >
    {{ content | safe }}
  </div>
</div>