@use "./syntaxHighlighting.scss";

$font-stack: 'Vollkorn', serif;
$font-mono: 'Roboto Mono', monospace;
$color-text: #CBD5E1;
$color-heading: #E5E7EB;
$color-text-light: #6B7280;
$color-primary: #FBBF24;
$color-bg: #18212F;


body {
    font: 120% $font-stack;
    color: $color-text;
    background: $color-bg;
}

nav {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

nav .title {
    color: $color-heading;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-right: 0.5em;
}

main {
    margin-top: 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: $color-text;
}

a:hover {
    text-decoration: underline;
}

.post a {
  color: $color-primary;
}



.posts .title a {
    color: $color-heading;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 5px 0;
}

.post h2 {
    color: $color-heading;
}

.posts .listing {
    margin-bottom: 0.75em;
}

.date {
    font-size: 0.9em;
    color: $color-text-light;
}

.post .title {
    color: $color-heading;
    font-size: 2.5em;
    font-weight: bold;
}

.post p {
    line-height: 1.75;
}

.footnotes-sep {
  display: none;
}

.post .footnotes-list {
  font-size: 0.8em;
  margin-top: 4em;
}

pre {
    border-radius: 5px;
}

pre code {
    font: 80% $font-mono;
}

$spaces: (1, 2, 3, 4, 5, 10, 20);
$sides: (top, bottom, left, right);

@each $space in $spaces {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
          }
    }

    .p-#{$space} {
        padding: #{$space}px #{$space}px #{$space}px #{$space}px !important;
    }
}


.highlight-line-active {
  display:  inline-block;
  width: 100%;
  color: inherit;
  background: inherit;
  // box-shadow: inset -5px 0 0 yellowgreen;
}