@use "./syntaxHighlighting.scss";


@font-face {
  font-family: "etufte";
  src: url("../static/fonts/et-book-roman-line-figures.woff") format("woff");
}

@font-face {
  font-family: "etufte";
  src: url("../static/fonts/et-book-bold-line-figures.woff") format("woff");
  font-weight: bold;
}


$font-stack: 'etufte', sans-serif;
$font-mono: 'Roboto Mono', monospace;
$color-text: #000;
$color-text-dark: #F5F5F5;
$color-text-light: #78716C;
$color-primary: #EF4444;
$color-bg: #fff;
$color-bg-dark: #000000;
$color-code-bg: #1d2021;


body {
    font: 120% $font-stack;
    color: $color-text;
    background: $color-bg;
}

nav {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

nav .title {
    font-size: 1.75em;
    font-weight: bold;
    margin-right: 0.5em;
}

main {
    margin-top: 5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: $color-text;
}

a:hover {
    text-decoration: underline;
}

.post a {
  color: $color-primary;
}

pre {
    border-radius: 5px;
}

pre code {
    font: 80% $font-mono;
}

.posts .title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 5px 0;
}

.posts .listing {
    margin-bottom: 0.75em;
}

.date {
    font-size: 0.9em;
    color: $color-text-light;
}

.post .title {
    font-size: 3em;
    font-weight: bold;
}

.post p {
    line-height: 1.5;
}

.footnotes-sep {
  display: none;
}

.post .footnotes-list {
  font-size: 0.8em;
  margin-top: 4em;
}

$spaces: (1, 2, 3, 4, 5, 10, 20);
$sides: (top, bottom, left, right);

@each $space in $spaces {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
          }
    }

    .p-#{$space} {
        padding: #{$space}px #{$space}px #{$space}px #{$space}px !important;
    }
}


.highlight-line-active {
  display:  inline-block;
  width: 100%;
  color: inherit;
  background: inherit;
  // box-shadow: inset -5px 0 0 yellowgreen;
}